<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            table {
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid black;
            }
        </style>    
    </head>
    <body>
        <h1>DANH SACH TIN</h1>
        <table>
            <tr>
                <td>STT</td>
                <td>Ten</td>
                <td>Hinh</td>
                <td>Mo ta</td>
                <td>idVideo</td>
                <td>Quan tri</td>
            </tr>
            <% arrProducts.forEach(e => { %>
                <tr>
                    <td><%= e.id %></td>
                    <td><%= e.name %></td>
                    <td><img src="images/background/<%= e.image %>" width="200"/></td>
                    <td><%= e.desc %></td>
                    <td><%= e.video %></td>
                    <td>
                        <a onclick="return confirm('Are you sure?');" href="/xoa/<%= e.id %>" >Xoa</a>
                        <a href="/xoa/<%= e.id %>">Sua</a>
                    </td>
                </tr>
            <% }); %>
        </table>
    </body>
</html>
<!-- Xoa: localhost:3000/xoa/id