<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add product</title>
        <base href="../">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/update" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= product.id %>">
            <input type="text" name="name" placeholder="name" value="<%= product.name %>">
            <br><br>
            <input type="text" name="desc" placeholder="description" value="<%= product.desc %>">
            <br><br>
            <input type="text" name="video" placeholder="video" value="<%= product.video %>">
            <br><br>
            <img src="images/background/<%= product.image %>" width="300"/>
            <input type="file" name="image">
            <br><br>
            <button>Submit</button>
        </form>
    </body>
</html>